<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ProyectoGetPa</display-name>
     <servlet>
		<description>
		</description>
		<display-name>ControladorRegistro</display-name>
		<servlet-name>ControladorRegistro</servlet-name>
		<servlet-class>Controladores.ControladorRegistro</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorRegistro</servlet-name>
		<url-pattern>/ControladorRegistro</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>